

/* Index */

.main-title {
    text-align: center; 
    font-size: 22px; 
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #071013;
    letter-spacing: 0.5px; 
}

ul {
    margin-top: 20px; 
    list-style-type: none;
    display: flex;
    justify-content: space-evenly; 
    text-transform: uppercase;
    background-color: green; 
    height: 25px; 
    
    
}

h6 {
    font-size: 14px;
}
/* Carnivore recipes */

.index-card {
    border: 2px solid lightslategray; 
    border-radius: 3px; 
    background-color: #DFE0E2; 

}