/* Default Styling */

* {
    box-sizing: border-box;
}

body {
    border: 5px solid brown; 
    border-radius: 6px;
    width: 800px;
    height: 700px; 
}


.main-header {
    height: auto; 
    border: 2px solid #715B64;
    padding-bottom: 12px; 
}

h1 {
    text-align: center; 
    font-size: 34px;
    text-transform: uppercase;
    color: gold; 
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
       
 
      
}

div {
    display: flex; 
}

img {
    border: 2px solid black;
    border-radius: 8px; 
    margin: 0 auto; 
}

li:nth-child(even){
    color:#90AA86; 
}

/* List style */

ul {
    list-style-type: none;
    display: flex; 
}

a {
    text-decoration: none; 
    color: black; 
    line-height: 4px; 
    font-family: "Briem Hand", cursive; ;
    padding-left: 130px; 
    margin-top: 400px; 
    font-size: 18px; 
}

a:hover{
    color: gold; 

}
/* Index */







